node-red/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "System Setup",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4e7e1ba3c033f652",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "createUser",
        "func": "msg.method = \"POST\";\nmsg.url = \"http://grafana:3000/api/admin/users\";\n\nmsg.payload = {\n    \"name\": msg.login,\n    \"email\": msg.mail,\n    \"login\": msg.login,\n    \"password\": msg.login\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 120,
        "wires": [
            [
                "19c57f0bdd539d73"
            ]
        ]
    },
    {
        "id": "19c57f0bdd539d73",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "HTTP request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 120,
        "wires": [
            [
                "fd32da57a2366c47",
                "bf4c20f53d47db12"
            ]
        ]
    },
    {
        "id": "fd32da57a2366c47",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Afficher UserID",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "ba0a5a98ca567ef5",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "rmUserMainOrg",
        "func": "if (!msg.userId) {\n    node.error(\"userId manquant pour suppression de la Main Org\", msg);\n    return null;\n}\n\nconst mainOrgId = 1; // Main Org\n\nmsg.method = \"DELETE\";\nmsg.url = `http://grafana:3000/api/orgs/${mainOrgId}/users/${msg.userId}`;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    //\"Authorization\": \"Basic \" + Buffer.from(\"admin:admin\").toString(\"base64\")\n};\n\n// DELETE n'a pas besoin de body\nmsg.payload = {};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "a93f17720104dddb"
            ]
        ]
    },
    {
        "id": "a93f17720104dddb",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "HTTP Request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 360,
        "wires": [
            [
                "c125343f36137e2e",
                "d809596b819f435f"
            ]
        ]
    },
    {
        "id": "c125343f36137e2e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "addDashboard",
        "func": "// Create Dashboard\n\n// On vérifie juste qu'on a bien un orgId qui traîne encore dans le msg\nif (!msg.orgId) {\n    node.warn(\"orgId manquant : le dashboard sera créé dans l'org active par défaut de l'utilisateur.\");\n}\n\n// Requête de création de dashboard\nmsg.method = \"POST\";\nmsg.url = \"http://grafana:3000/api/dashboards/db\";\n\n// Authentification avec l'utilisateur final\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Basic \" + Buffer.from(msg.login + \":\" + msg.login).toString(\"base64\"),\n    \"X-Grafana-Org-Id\": String(msg.orgId)\n};\n\nmsg.payload = {\n    dashboard: {\n        id: null,\n        uid: \"dashboard-org-\" + (msg.orgId ?? \"no-org\"),\n        title: \"Tableau de bord\",\n        tags: [\"org-\" + (msg.orgId ?? \"no-org\")],\n        timezone: \"browser\",\n        schemaVersion: 17,\n        version: 1,\n        refresh: \"5m\"\n    },\n    folderId: 0,\n    overwrite: true\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 420,
        "wires": [
            [
                "85479226cfbf6776"
            ]
        ]
    },
    {
        "id": "d809596b819f435f",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "afficher OrgID",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 360,
        "wires": []
    },
    {
        "id": "85479226cfbf6776",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "HTTP Request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 420,
        "wires": [
            [
                "b4f751c636f7be32",
                "81cd345c6d234bf9"
            ]
        ]
    },
    {
        "id": "b4f751c636f7be32",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Créer dashboard",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "81cd345c6d234bf9",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "updatePrefs",
        "func": "if (!msg.payload || !msg.payload.id || !msg.payload.uid) {\n    node.error(\"Impossible de récupérer l'id/uid du dashboard\", msg);\n    return null;\n}\n\nmsg.dashboardId = msg.payload.id;\nmsg.dashboardUid = msg.payload.uid;\n\n\nmsg.method = \"PUT\";\nmsg.url = \"http://grafana:3000/api/org/preferences\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Basic \" + Buffer.from(msg.login + \":\" + msg.login).toString(\"base64\"),\n    \"X-Grafana-Org-Id\": String(msg.orgId)\n};\n\nmsg.payload = {\n    homeDashboardUID: msg.dashboardUid,\n    language: \"fr-FR\",        \n    timezone: \"browser\"\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 480,
        "wires": [
            [
                "50d4eb84a3788d68"
            ]
        ]
    },
    {
        "id": "50d4eb84a3788d68",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "HTTP Request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 480,
        "wires": [
            [
                "0fe07bb7890f4df2",
                "0e09aef6fb3734fd"
            ]
        ]
    },
    {
        "id": "0fe07bb7890f4df2",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "maj prefs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 480,
        "wires": []
    },
    {
        "id": "0e09aef6fb3734fd",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "linkDB",
        "func": "msg.method = \"POST\";\nmsg.url = \"http://grafana:3000/api/datasources\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Basic \" + Buffer.from(msg.login + \":\" + msg.login).toString(\"base64\"),\n    \"X-Grafana-Org-Id\": String(msg.orgId)\n};\n\nlet tenant = msg.tenant;\n\n\nmsg.payload = {\n    \"name\": \"postgres-\" + tenant,\n    \"type\": \"postgres\",\n    \"access\": \"proxy\",\n    \"url\": \"postgres:5432\",\n    \"user\": tenant,\n    \"secureJsonData\": {\n        \"password\": tenant\n    },\n    \"database\": \"mobilab\",\n    \"jsonData\": {\n        \"sslmode\": \"disable\",\n        \"postgresVersion\": 1500,\n        \"timescaledb\": false,\n        \"maxOpenConns\": 100,\n        \"maxIdleConns\": 100,\n        \"connMaxLifetime\": 14400\n    }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 540,
        "wires": [
            [
                "116ef320736d0e31"
            ]
        ]
    },
    {
        "id": "116ef320736d0e31",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "HTTP Request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 540,
        "wires": [
            [
                "eb0953def4707424"
            ]
        ]
    },
    {
        "id": "eb0953def4707424",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Create database",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 540,
        "wires": []
    },
    {
        "id": "637c4599171f9b0e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "editInput",
        "func": "// --- fonctions utilitaires ---\n// Supprime accents + caractères spéciaux\nfunction normalize(str) {\n    return str\n        .normalize(\"NFD\")                     // décompose accents\n        .replace(/[\\u0300-\\u036f]/g, \"\")      // supprime accents\n        .replace(/\\s+/g, \"\")                  // supprime espaces\n        .toLowerCase();\n}\n\n// Nettoie une valeur pour en faire un identifiant SQL/Grafana/Postgres\nfunction cleanIdentifier(str) {\n    return normalize(str)\n        .replace(/[^a-z0-9_]/g, \"\");          // garde uniquement safe\n}\n\n\n// --- Nettoyage noms et login ---\nmsg.name = normalize(msg.name);\nmsg.firstname = normalize(msg.firstname);\nmsg.login = msg.name + \".\" + msg.firstname;\nmsg.tenant = msg.name + msg.firstname;\n\n\n\n// --- Mail ---\nmsg.mail = String(msg.mail || \"\").trim().toLowerCase();\n\n\n// --- userapp => sert pour dbname ---\nmsg.userapp = normalize(msg.userapp);\n\n// dbname : retire “@ttn”, retire tout caractère non autorisé\nmsg.dbname = cleanIdentifier(\n    msg.userapp.replace(\"@ttn\", \"\")\n);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 120,
        "wires": [
            [
                "4e7e1ba3c033f652",
                "93c69b54218a357d"
            ]
        ]
    },
    {
        "id": "eb24333c385d72f8",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "addUserToOrg",
        "func": "if (!msg.payload || typeof msg.payload.orgId === \"undefined\") {\n    node.error(\"orgId manquant dans la réponse de /api/orgs\", msg);\n    return null;\n}\n\nmsg.orgId = msg.payload.orgId;\n\nmsg.method = \"POST\";\nmsg.url = `http://grafana:3000/api/orgs/${msg.orgId}/users`;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    //\"Authorization\": \"Basic \" + Buffer.from(\"admin:admin\").toString(\"base64\")\n};\n\nmsg.payload = {\n    loginOrEmail: msg.login,\n    role: \"Admin\"   // ou \"Viewer\" si tu préfères\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "f1b2cb0746c2a965"
            ]
        ]
    },
    {
        "id": "a15b7d373edaf7dc",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "HTTP Request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 180,
        "wires": [
            [
                "fae1dbe8e26d72b8",
                "eb24333c385d72f8"
            ]
        ]
    },
    {
        "id": "fae1dbe8e26d72b8",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "afficher OrgID",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "bf4c20f53d47db12",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "createOrg",
        "func": "// On récupère l'id de l'utilisateur créé par l'API admin/users\nmsg.userId = msg.payload.id;\n\n// Création de l'org côté admin\nmsg.method = \"POST\";\nmsg.url = \"http://grafana:3000/api/orgs\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    //\"Authorization\": \"Basic \" + Buffer.from(msg.login+\":\"+msg.login).toString(\"base64\")\n};\n\nmsg.payload = {\n    name: \"org-\" + msg.login\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "a15b7d373edaf7dc"
            ]
        ]
    },
    {
        "id": "f1b2cb0746c2a965",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "HTTP Request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 240,
        "wires": [
            [
                "ff17e3ea2dcd66d4",
                "ccfa59f825d30d0a"
            ]
        ]
    },
    {
        "id": "ff17e3ea2dcd66d4",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "addUserToOrg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "ccfa59f825d30d0a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "SetUserOrgID",
        "func": "if (!msg.userId || !msg.orgId) {\n    node.error(\"userId ou orgId manquant pour le switch d'org\", msg);\n    return null;\n}\n\nmsg.method = \"POST\";\nmsg.url = `http://grafana:3000/api/users/${msg.userId}/using/${msg.orgId}`;\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    //\"Authorization\": \"Basic \" + Buffer.from(\"admin:admin\").toString(\"base64\")\n};\n\nmsg.payload = {};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 300,
        "wires": [
            [
                "84eb0c12f566c22d"
            ]
        ]
    },
    {
        "id": "84eb0c12f566c22d",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "HTTP Request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 300,
        "wires": [
            [
                "300150d9e5975e5e",
                "ba0a5a98ca567ef5"
            ]
        ]
    },
    {
        "id": "300150d9e5975e5e",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "afficher OrgID",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "35e2b95e2833b316",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "inputV2",
        "props": [
            {
                "p": "userapp",
                "v": "testsim23@ttn",
                "vt": "str"
            },
            {
                "p": "name",
                "v": "testsim23",
                "vt": "str"
            },
            {
                "p": "firstname",
                "v": "testsim23",
                "vt": "str"
            },
            {
                "p": "mail",
                "v": "testsim23@testsim.com",
                "vt": "str"
            },
            {
                "p": "chatId",
                "v": "XXX",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "637c4599171f9b0e"
            ]
        ]
    },
    {
        "id": "98060808e2e8adf9",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 700,
        "wires": []
    },
    {
        "id": "4f97abe2a571979c",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "new sensorTable",
        "func": "// Entrée: msg.payload.table ex \"lht65\"\nconst table = (\"lht66\").trim().toLowerCase();\n\n// SQL multi-statements\nconst sql = `\n-- 1) table minimale (juste les colonnes obligatoires)\nCREATE TABLE IF NOT EXISTS public.${table} (\n    time TIMESTAMPTZ NOT NULL DEFAULT now(),\n    name TEXT NOT NULL,\n    tenant TEXT NOT NULL\n);\n\n-- 2) ajout des colonnes si absentes\nALTER TABLE public.${table} ADD COLUMN IF NOT EXISTS rssi INTEGER;\nALTER TABLE public.${table} ADD COLUMN IF NOT EXISTS snr DOUBLE PRECISION;\nALTER TABLE public.${table} ADD COLUMN IF NOT EXISTS battery INTEGER;\nALTER TABLE public.${table} ADD COLUMN IF NOT EXISTS humidity DOUBLE PRECISION;\nALTER TABLE public.${table} ADD COLUMN IF NOT EXISTS temperature DOUBLE PRECISION;\nALTER TABLE public.${table} ADD COLUMN IF NOT EXISTS temperature_probe DOUBLE PRECISION;\n-- ALTER TABLE public.${table} ADD COLUMN IF NOT EXISTS temp_2 DOUBLE PRECISION;\n\n\n-- 3) timescale hypertable (si déjà hypertable, ça peut erreur selon version)\nSELECT create_hypertable('public.${table}', 'time', if_not_exists => TRUE);\n\n-- 4) index utile (perf tenant + name + temps)\nCREATE INDEX IF NOT EXISTS ${table}_tenant_time_idx ON public.${table} (tenant, time DESC);\nCREATE INDEX IF NOT EXISTS ${table}_tenant_name_time_idx ON public.${table} (tenant, name, time DESC);\n\n-- 5) RLS ON + FORCE\nALTER TABLE public.${table} ENABLE ROW LEVEL SECURITY;\nALTER TABLE public.${table} FORCE ROW LEVEL SECURITY;\n\n-- 6) policies (SELECT/INSERT/UPDATE/DELETE)\nDROP POLICY IF EXISTS ${table}_tenant_select ON public.${table};\nDROP POLICY IF EXISTS ${table}_tenant_insert ON public.${table};\nDROP POLICY IF EXISTS ${table}_tenant_update ON public.${table};\nDROP POLICY IF EXISTS ${table}_tenant_delete ON public.${table};\n\nCREATE POLICY ${table}_tenant_select ON public.${table}\nFOR SELECT\nUSING (tenant = current_setting('app.tenant', true));\n\n`;\n\nmsg.query = sql;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 700,
        "wires": [
            [
                "270c89adfd1f01a7"
            ]
        ]
    },
    {
        "id": "7f25ba68dc131619",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 330,
        "y": 700,
        "wires": [
            [
                "4f97abe2a571979c"
            ]
        ]
    },
    {
        "id": "93c69b54218a357d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "new DatabaseUser",
        "func": "// Entrée attendue : msg.payload.tenant (ex: \"ferme_dupont\")\nconst tenant = (msg.tenant ? String(msg.tenant) : \"\").trim();\n\n// 1) validation anti-injection : uniquement lettres minuscules, chiffres, underscore\nif (!/^[a-z0-9_]{3,63}$/.test(tenant)) {\n  node.error(\"Tenant invalide. Autorisé: [a-z0-9_], longueur 3..63\", msg);\n  return null;\n}\n\n// 2) Attention : on ne peut pas paramétrer un identifiant SQL ($1) dans CREATE ROLE.\n// Donc on construit du SQL, mais tenant est validé strictement.\nconst sql = `\n-- 0) (optionnel) si tu relances : supprimer proprement\n-- DROP ROLE IF EXISTS ${tenant};\n\n-- 1) créer le user\nCREATE ROLE ${tenant} LOGIN PASSWORD '${tenant}';\n\n-- 2) autoriser uniquement la connexion à mobilab\nGRANT CONNECT ON DATABASE mobilab TO ${tenant};\n\n-- (optionnel mais conseillé) interdire l'accès aux autres DB connues\nREVOKE CONNECT ON DATABASE postgres  FROM ${tenant};\n-- REVOKE CONNECT ON DATABASE template1 FROM ${tenant};\n-- REVOKE CONNECT ON DATABASE template0 FROM ${tenant};\n\n-- 3) droits sur le(s) schéma(s)\nGRANT USAGE ON SCHEMA public TO ${tenant};\n\n-- 4) lecture seule sur toutes les tables EXISTANTES du schema public\nGRANT SELECT ON ALL TABLES IN SCHEMA public TO ${tenant};\n\n-- 5) lecture seule sur toutes les tables FUTURES du schema public\n-- IMPORTANT : à exécuter avec le rôle 'admin'\nALTER DEFAULT PRIVILEGES IN SCHEMA public\nGRANT SELECT ON TABLES TO ${tenant};\n\n-- 6) fixer le tenant automatiquement à la connexion\nALTER ROLE ${tenant} SET app.tenant = '${tenant}';\n\n`;\n\nmsg.query = sql;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 60,
        "wires": [
            [
                "9b91fb2ac51a1388"
            ]
        ]
    },
    {
        "id": "c920c93d9d01131f",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 60,
        "wires": []
    },
    {
        "id": "6035c8cfcd13e38d",
        "type": "catch",
        "z": "f6f2187d.f17ca8",
        "name": "postgre : createDB",
        "scope": [
            "9b91fb2ac51a1388"
        ],
        "uncaught": false,
        "x": 1050,
        "y": 60,
        "wires": [
            [
                "d6e4b5eba9bfed86"
            ]
        ]
    },
    {
        "id": "d6e4b5eba9bfed86",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 60,
        "wires": []
    },
    {
        "id": "4edfe085951d0d0f",
        "type": "file in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "filename": "/usr/src/node-red/create_schema.sql",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 570,
        "y": 780,
        "wires": [
            [
                "1ab9f9f2281894c6"
            ]
        ]
    },
    {
        "id": "aa78b85f367f22f8",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 780,
        "wires": [
            [
                "4edfe085951d0d0f"
            ]
        ]
    },
    {
        "id": "1ab9f9f2281894c6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 4",
        "func": "// Le node \"file in\" met le contenu dans msg.payload\nmsg.query = String(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 780,
        "wires": [
            [
                "ae9051800cb69653",
                "4af0354a0b8fc86f"
            ]
        ]
    },
    {
        "id": "ae9051800cb69653",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 780,
        "wires": []
    },
    {
        "id": "a55a6e653bcdda3f",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 740,
        "wires": []
    },
    {
        "id": "5ee317ba37f064ab",
        "type": "file",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "filename": "/usr/src/node-red/create_schema.sql",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 590,
        "y": 840,
        "wires": [
            [
                "418335c7dd2f8169"
            ]
        ]
    },
    {
        "id": "6e2e0330511a95b4",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "INSERT INTO public.lht66 (time,name,tenant,rssi,snr,battery,humidity,temperature,temperature_probe) VALUES (now(),'sonde_1','ferme_dupont',-52,7.1,95,61.2,19.4,18.9);",
        "payloadType": "str",
        "x": 370,
        "y": 840,
        "wires": [
            [
                "5ee317ba37f064ab"
            ]
        ]
    },
    {
        "id": "418335c7dd2f8169",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 820,
        "wires": []
    },
    {
        "id": "352a7b82c8a73e3e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "new sensorTable",
        "func": "// Entrée: msg.payload.table ex \"lht65\"\nconst table = (\"lht66\").trim().toLowerCase();\n\n// SQL multi-statements\nconst sql = `\nDO $$\nBEGIN\n\n-- 1) table minimale (juste les colonnes obligatoires)\nCREATE TABLE IF NOT EXISTS public.${table} (\n    time TIMESTAMPTZ NOT NULL DEFAULT now(),\n    name TEXT NOT NULL,\n    tenant TEXT NOT NULL\n);\n\n-- 2) ajout des colonnes si absentes\nALTER TABLE public.${table} ADD COLUMN IF NOT EXISTS rssi INTEGER;\nALTER TABLE public.${table} ADD COLUMN IF NOT EXISTS snr DOUBLE PRECISION;\nALTER TABLE public.${table} ADD COLUMN IF NOT EXISTS battery INTEGER;\nALTER TABLE public.${table} ADD COLUMN IF NOT EXISTS humidity DOUBLE PRECISION;\nALTER TABLE public.${table} ADD COLUMN IF NOT EXISTS temperature DOUBLE PRECISION;\nALTER TABLE public.${table} ADD COLUMN IF NOT EXISTS temperature_probe DOUBLE PRECISION;\n-- ALTER TABLE public.${table} ADD COLUMN IF NOT EXISTS temp_2 DOUBLE PRECISION;\n\n\n-- 3) timescale hypertable (si déjà hypertable, ça peut erreur selon version)\nSELECT create_hypertable('public.${table}', 'time', if_not_exists => TRUE);\n\n-- 4) index utile (perf tenant + name + temps)\nCREATE INDEX IF NOT EXISTS ${table}_tenant_time_idx ON public.${table} (tenant, time DESC);\nCREATE INDEX IF NOT EXISTS ${table}_tenant_name_time_idx ON public.${table} (tenant, name, time DESC);\n\n-- 5) RLS ON + FORCE\nALTER TABLE public.${table} ENABLE ROW LEVEL SECURITY;\nALTER TABLE public.${table} FORCE ROW LEVEL SECURITY;\n\n-- 6) policies (SELECT/INSERT/UPDATE/DELETE)\nDROP POLICY IF EXISTS ${table}_tenant_select ON public.${table};\nDROP POLICY IF EXISTS ${table}_tenant_insert ON public.${table};\nDROP POLICY IF EXISTS ${table}_tenant_update ON public.${table};\nDROP POLICY IF EXISTS ${table}_tenant_delete ON public.${table};\n\nCREATE POLICY ${table}_tenant_select ON public.${table}\nFOR SELECT\nUSING (tenant = current_setting('app.tenant', true));\n\nEND\n$$;\n\n`;\n\nmsg.query = sql;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 660,
        "wires": [
            [
                "270c89adfd1f01a7"
            ]
        ]
    },
    {
        "id": "648c5a74e91030e9",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 330,
        "y": 660,
        "wires": [
            [
                "352a7b82c8a73e3e"
            ]
        ]
    },
    {
        "id": "51a67a60fbb9564a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 5",
        "func": "const fs = require('fs');\nconst path = require('path');\n\nconst root = \"/srv/apps/console-mobilab/postgres/schema\";\n\nfunction walk(dir) {\n  let results = [];\n  const list = fs.readdirSync(dir, { withFileTypes: true });\n\n  for (const entry of list) {\n    const full = path.join(dir, entry.name);\n    if (entry.isDirectory()) {\n      results = results.concat(walk(full));\n    } else if (entry.isFile() && entry.name.toLowerCase().endsWith(\".sql\")) {\n      results.push(full);\n    }\n  }\n  return results;\n}\n\n// 1) liste des fichiers .sql (récursif)\nconst files = walk(root).sort(); // ordre stable\n\nif (!files.length) {\n  node.error(`Aucun fichier .sql trouvé dans ${root}`, msg);\n  return null;\n}\n\n// 2) concat\nlet sql = \"\";\nfor (const f of files) {\n  sql += `\\n\\n-- =============================================\\n`;\n  sql += `-- FILE: ${f}\\n`;\n  sql += `-- =============================================\\n\\n`;\n  sql += fs.readFileSync(f, 'utf8');\n}\n\n// 3) sortie pour node postgres\nmsg.query = sql.trim();\nmsg.schema_files = files; // utile pour debug\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 900,
        "wires": [
            [
                "2e937e589f951871"
            ]
        ]
    },
    {
        "id": "66dc302a30bccc2d",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 880,
        "wires": [
            [
                "51a67a60fbb9564a"
            ]
        ]
    },
    {
        "id": "2e937e589f951871",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 900,
        "wires": []
    },
    {
        "id": "270c89adfd1f01a7",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "postgre",
        "query": "",
        "postgreSQLConfig": "b1b3382c8feafb97",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 680,
        "y": 700,
        "wires": [
            [
                "98060808e2e8adf9"
            ]
        ]
    },
    {
        "id": "9b91fb2ac51a1388",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "postgre",
        "query": "",
        "postgreSQLConfig": "b1b3382c8feafb97",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 600,
        "y": 60,
        "wires": [
            [
                "c920c93d9d01131f"
            ]
        ]
    },
    {
        "id": "4af0354a0b8fc86f",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "postgre",
        "query": "",
        "postgreSQLConfig": "b1b3382c8feafb97",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 960,
        "y": 740,
        "wires": [
            [
                "a55a6e653bcdda3f"
            ]
        ]
    },
    {
        "id": "53c2cc6bc0383b92",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 980,
        "wires": [
            [
                "5415b102075f366b"
            ]
        ]
    },
    {
        "id": "5415b102075f366b",
        "type": "exec",
        "z": "f6f2187d.f17ca8",
        "command": "bash -lc 'find /usr/src/node-red/schema -type f -name \"*.sql\" -print0 | sort -z | xargs -0 cat'",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "get schemaFiles",
        "x": 520,
        "y": 980,
        "wires": [
            [
                "c4f8c49cc888f658"
            ],
            [],
            []
        ]
    },
    {
        "id": "9e86e18119303613",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 960,
        "wires": []
    },
    {
        "id": "c4f8c49cc888f658",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "query",
        "func": "// Le node \"file in\" met le contenu dans msg.payload\nmsg.query = String(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 960,
        "wires": [
            [
                "ce38399169be9d07"
            ]
        ]
    },
    {
        "id": "ce38399169be9d07",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "postgre",
        "query": "",
        "postgreSQLConfig": "b1b3382c8feafb97",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 800,
        "y": 960,
        "wires": [
            [
                "9e86e18119303613"
            ]
        ]
    },
    {
        "id": "b1b3382c8feafb97",
        "type": "postgreSQLConfig",
        "name": "postgres",
        "host": "postgres",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "mobilab",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "noel",
        "userFieldType": "str",
        "password": "flantier",
        "passwordFieldType": "str"
    },
    {
        "id": "9dbea1cd4bad6d6c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-postgresql": "0.15.4"
        }
    }
]
